@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}
body,
.bg-dark {
  background: #f7dffa !important;
  font-family: 'Poppins', sans-serif;
  
}
.nav-item{
  cursor: pointer;
}
.bg-success{
  background-color: #6C70FE !important;
}
.btn-success{
  background-color: #6C70FE;
  border: none;
}
.btn-success:hover{
  background-color: #ffffff;
  color: #6C70FE;
  border: #6C70FE 2px solid;
}
.form-group{
  font-size: 0.8rem;
  font-weight: 600;
  
}
.form-group input{
  
  font-size: 0.8rem;
}
.text-danger{
  font-weight: 600;
}
/* footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
} */
/* .errorMessage{
  background-color: aliceblue;
} */